<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Products</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<div class="container">
    <h2>Product Management</h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.productId}"></td>
            <td th:text="${p.productName}"></td>
            <td th:text="${p.category}"></td>
            <td th:text="${p.price}"></td>
            <td th:text="${p.quantity}"></td>
        </tr>
        </tbody>
    </table>

    <a href="/admin/dashboard" class="back">← Back to Dashboard</a>
</div>

</body>
</html>